@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 10s linear infinite;
}

@font-face {
  font-family: "CondensedFont";
  src: url("/fonts/condensed.woff2") format("woff2");
  font-display: swap;
}
@layer utilities {
  .back {
    background: repeating-linear-gradient(
      to bottom,
      #CEB27F 0px,
      #dcc271 200px,
      #dcc271 200px,
      #CEB27F 400px
    );
  }
}
