<table class="body">
	<tr>
		<td style="font-size: 18px; text-align: center">
			Не хвилюйтеся, ми контролюємо ваш пароль!
		</td>
	</tr>
	<tr>
		<td style="text-align: center">
			<p style="margin: 17px 0 0;">
				Натисніть посилання нижче, щоб відновити свій пароль
			</p>
		</td>
	</tr>
	<tr>
		<td style="text-align: center">
			<a href="{{frontUrl}}/restore-password/{{actionToken}}">
				Відновити
			</a>
		</td>
	</tr>
</table>