<table class="body">
	<tr>
		<td style="font-size: 18px; text-align: center">
			{{name}}, ваш пароль змінено!
		</td>
	</tr>
	<tr>
		<td style="text-align: center">
			<p style="margin: 17px 0 0;">
				Ви змінили свій пароль
			</p>
		</td>
	</tr>
<!--	<tr>-->
<!--		<td style="text-align: center">-->
<!--			<a href="{{frontUrl}}">-->
<!--				Restore-->
<!--			</a>-->
<!--		</td>-->
<!--	</tr>-->
</table>