<table class="header">
	<tr>
		<td style="text-align: left;">
			<a href="https://prano.group/">
				<img
					src="https://prano.group/assets/prano_logo_no_bg-BQmpbaUx.png"
					alt="Prano"
					style="max-width: 100%; height: 3rem; padding-top: .25rem;"
				/>
			</a>
		</td>
	</tr>
</table>