<table style="width: 100%; padding: 4px 35px; background-color: #788ca0; box-sizing: border-box; color: white">
	<tr>
		<td style="font-size: 20px; text-align: left;">
			<b>Prano</b>
		</td>
	</tr>
</table>