<table class="header">
	<tr>
		<td style="text-align: left;">
<!--			<a href="https://prano.group/">-->
<!--				<img-->
<!--					src="cid:logo"-->
<!--					alt="Prano"-->
<!--					style="display:block;margin:0 auto;"-->
<!--				/>-->
<!--			</a>-->
			<b>Prano</b>
		</td>
	</tr>
</table>